{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#tag}}
<header class="page-head"
        style="padding:20vh 0 10vh 0">
    </default>
    <h1 class="page-head-title">{{name}}</h1>
    <p class="page-head-description-tutorials">
        {{#if description}}
        {{description}}
        {{else}}
        A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
        {{/if}}
    </p>
</header>


<div class="post-feed post-result-feed">

    {{#get "posts"  filter="primary_tag:tutorials" order="published_at asc"}}
    {{#foreach posts}}

    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-result"}}

    {{/foreach}}

    {{/get}}
</div>
{{/tag}}


{{#contentFor "scripts"}}
<script>
    var a = document.getElementById('toc')
    if (a != undefined) {
        document.body.removeChild(a)
    }
</script>
{{/contentFor}}